.headerClass {
  color: red;
  font-size: 54px;
}
table{
  width: 99%;
}
tr{
  width: 99%;
}
.td1{
  width: 25%;
}
.angularTestDiv{
  border: 2px black solid;
  background-color: powderblue;
  width: 90%;
  height: 140px;
  padding: 10px;
  margin: 10px;
}
.td2{
  width: 25%;
}
.angularTestDiv2{
  border: 5px black dashed;
  background-color: lightgrey;
  width: 90%;
  height: 140px;
  padding: 10px;
  margin: 10px;
}
.td3{
  width: 25%;
  border: 5px black dashed;
  background-color: lightgrey;
  width: 90%;
  height: 140px;
  padding: 10px;
  margin: 10px;
}
.answerDiv{
  background-color: turquoise;
  height: 40px;
  width: 100px;
}

.custom-slider.rzslider .rz-bar {
  background: #ffe4d1;
  height: 2px;
}
.custom-slider.rzslider .rz-selection {
  background: orange;
}

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.custom-slider.rzslider .rz-limit {
  font-weight: bold;
  color: orange;
}

.custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
  background: orange;
}
